.faq-page {
    height: 88vh;
}

.add-faq-title {
    top: 10px;
}

.faq-card-container {
    display: flex;

    align-items: center;
    justify-content: center;
}

.faq-card {
    width: 80%;
    background-color:rgb(144, 192, 255);
    border: 1px solid;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;

    display: flex;
}

.faq-data {
    height: 100%;
    width: 80%;
}

.faq-delete-container {
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#faq-delete-button {
    background-color: red;
    color: white;
}

.faq-answer-text {
    margin-left: 10px;
    margin-top: 5px;
}

#faq-fixed-button {
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    margin: 30px;
    padding: 10px;
    position: fixed;
    border-radius: 30px;
    bottom: 0;
    right: 0;
}